<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71610879388-ag3bj2iehjgchh8hj394eclpaif9ngjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71610879388-ag3bj2iehjgchh8hj394eclpaif9ngjg</string>
	<key>API_KEY</key>
	<string>AIzaSyC-gPETfObbNkiKFCywWncJQqtvdg9i7Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>71610879388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginlogoutflutter</string>
	<key>PROJECT_ID</key>
	<string>loginlogoutflutter-6e416</string>
	<key>STORAGE_BUCKET</key>
	<string>loginlogoutflutter-6e416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71610879388:ios:37078669efc3ef01894c59</string>
</dict>
</plist>